In [1]:
import pandas as pd
import numpy as np

In [2]:
Compund_Name = ['monobutyl phthalate','carotenoids',np.nan, 'monobutyl phthalate']
cas_nos = ['34-74-2',np.nan,'36-88-4', '45-78-23']
mole_formula = ['012-H14-04','C39-H45-N2-06',np.nan, 'CH3']

data = {'Compund_Name':Compund_Name, 'cas_nos':cas_nos, 'mole_formula':mole_formula}

df_samplel1 = pd.DataFrame(data=data)
df_samplel1

          Compund_Name   cas_nos   mole_formula
0  monobutyl phthalate   34-74-2     012-H14-04
1          carotenoids       NaN  C39-H45-N2-06
2                  NaN   36-88-4            NaN
3  monobutyl phthalate  45-78-23            CH3

In [3]:
Compund_Name = ['monobutyl phthalate','carotenoids',np.nan]
cas_nos = [np.nan,np.nan,np.nan]
mole_formula = ['012-H14-04',np.nan,np.nan]

data = {'Compund_Name':Compund_Name, 'cas_nos':cas_nos, 'mole_formula':mole_formula}

df_samplel2 = pd.DataFrame(data=data)
df_samplel2

          Compund_Name  cas_nos mole_formula
0  monobutyl phthalate      NaN   012-H14-04
1          carotenoids      NaN          NaN
2                  NaN      NaN          NaN

In [27]:
df_samplel2_no_null = df_samplel2[df_samplel2['Compund_Name'].notnull()]

In [28]:
new_df = df_samplel2_no_null.merge(df_samplel1, on='Compund_Name', how='left')

In [30]:
new_df['cas_nos_x'] = np.where(new_df['cas_nos_x'].isnull(), new_df['cas_nos_y'], new_df['cas_nos_x'])
new_df['mole_formula_x'] = np.where(new_df['mole_formula_x'].isnull(), new_df['mole_formula_y'], new_df['mole_formula_x'])

In [31]:
new_df.drop(['cas_nos_y', 'mole_formula_y'], axis=1, inplace=True)
new_df = new_df.rename(columns={'cas_nos_x':'cas_nos', 'mole_formula_x':'mole_formula'})

In [32]:
new_df

          Compund_Name   cas_nos   mole_formula
0  monobutyl phthalate   34-74-2     012-H14-04
1  monobutyl phthalate  45-78-23     012-H14-04
2          carotenoids       NaN  C39-H45-N2-06

In [12]:
df_samplel1_no_null = df_samplel1[df_samplel1['Compund_Name'].notnull()]

In [13]:
new_df1 = df_samplel1_no_null.merge(df_samplel2, on='Compund_Name', how='left')

In [14]:
new_df1

          Compund_Name cas_nos_x mole_formula_x  cas_nos_y mole_formula_y
0  monobutyl phthalate   34-74-2     012-H14-04        NaN     012-H14-04
1          carotenoids       NaN  C39-H45-N2-06        NaN            NaN
2  monobutyl phthalate  45-78-23            CH3        NaN     012-H14-04

In [15]:
new_df1['cas_nos_x'] = np.where(new_df1['cas_nos_x'].isnull(), new_df1['cas_nos_y'], new_df1['cas_nos_x'])
new_df1['mole_formula_x'] = np.where(new_df1['mole_formula_x'].isnull(), new_df1['mole_formula_y'], new_df1['mole_formula_x'])

In [16]:
new_df1.drop(['cas_nos_y', 'mole_formula_y'], axis=1, inplace=True)
new_df1 = new_df1.rename(columns={'cas_nos_x':'cas_nos', 'mole_formula_x':'mole_formula'})

In [17]:
new_df1

          Compund_Name   cas_nos   mole_formula
0  monobutyl phthalate   34-74-2     012-H14-04
1          carotenoids       NaN  C39-H45-N2-06
2  monobutyl phthalate  45-78-23            CH3