In [2]:
import pandas as pd
import xml.etree.ElementTree as ET

In [3]:
file_path = 'C:/Users/Shrikant/Desktop/xml data extract/data.xml'
filename = file_path

def xml_data(filename):
    try:
        data = []
        tree = ET.parse(filename)
        root = tree.getroot()
        for elements in root.findall('Results_from_Database_Query_ODBC'):
            tag = dict()
            for element in elements:
                tag[element.tag] = element.text
            data.append(tag)
    except Exception as err:
        print(err)
    return data
        
data = xml_data(filename)

In [4]:
def to_df(data):
    try:
        df = pd.DataFrame(data)
        return df
    except Exception as err:
        print(err)
        
df = to_df(data)

In [5]:
df.head()

,ADDRESS_1,ADDRESS_2,ADDRESS_3,AGENT_NUM,APPEAL,ASSOCIATIONS,BOARD_DECISION,BUS_ADDRESS,CATEGORY,CITY,...,REG_TYPE_SIMPLE,SANCTION,STATE_DISPLAY,STATE_PROVINCE,STATUS,STAY,SUSPENSION,TERMINATED_REG,TERMINATION,ZIP
0,5 Marion Street,None,None,24666382,0,None on record,None,"5 Marion Street<br />Midland, WA 6056",TAB,Midland,...,Tax,None on record,WA,WA,Registered,0,None on record,0,None on record,6056
1,55 Kinlock Ave,None,None,97218004,0,Australian Bookkeepers Association *,None,"55 Kinlock Ave<br />Murrumbeena, VIC 3163",BASB,Murrumbeena,...,BAS,None on record,VIC,VIC,Registered,0,None on record,0,None on record,3163